repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.4.1
  hooks:
  - id: commitizen
    stages:
    - commit-msg

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
    # Run the linter.
    - id: ruff

- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.397
  hooks:
  - id: pyright