repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.7.1
  hooks:
    # Run the linter.
    - id: ruff

- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.389
  hooks:
  - id: pyright
