services:
  timescale-db:
    # image: timescale/timescaledb:latest-pg16
    image: timescale/timescaledb:2.19.1-pg17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    volumes:
      - timescale-storage:/var/lib/postgresql/data

  opc-server:
    build: ./e2e/opc_server
    ports:
      - 4840:4840
    depends_on:
      timescale-db:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: ./e2e/opc_server

  telegraf:
    # image: telegraf:latest
    image: telegraf:1.32.3
    depends_on:
      timescale-db:
        condition: service_healthy
      opc-server:
        condition: service_started
    volumes:
      - ./e2e/telegraf/generated_telegraf.conf:/etc/telegraf/telegraf.conf:ro
    restart: unless-stopped
    develop:
      watch:
        - action: sync+restart
          path: ./e2e/telegraf/generated_telegraf.conf
          target: /etc/telegraf/telegraf.conf

  corerl-web:
    # corerl web server for direct main config API
    build:
      context: .
    ports:
      - 8000:8000
    entrypoint: ["python", "/usr/local/bin/corerl_start_web"]
    develop:
      watch:
        - action: rebuild
          path: ./corerl
    volumes:
      - type: volume
        source: coreio-storage
        target: /app/coreio-data

  coreio:
    # thin client: https://github.com/rlcoretech/coreio

    # By default, use the latest stable image pushed to github container registry.
    image: ghcr.io/rlcoretech/coreio:latest
    pull_policy: always

    # When working with coreio local image, comment out the "image:" line above and
    # uncomment "build:" and "context:" lines below. Assumes that coreio exists within the same directory as core-rl.
    # build:
    #   context: ../coreio/

    depends_on:
      opc-server:
        condition: service_started
      # soft dependency for MainConfig API proxy, thin client can function without this
      # corerl-web:
      #   condition: service_started
    ports:
      - 2222:2222
    volumes:
      - type: volume
        source: coreio-storage
        target: /app/data

  grafana:
    image: grafana/grafana-enterprise
    restart: unless-stopped
    depends_on:
      timescale-db:
        condition: service_healthy
    ports:
      - '3000:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./e2e/grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - ./e2e/grafana/dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml
      - ./e2e/grafana/grafana_config_continuous_mountain_car.json:/var/lib/grafana/dashboards/grafana_config_continuous_mountain_car.json
volumes:
  timescale-storage: {}
  grafana-storage: {}
  coreio-storage: {}
