services:
  timescale-db:
    # image: timescale/timescaledb:latest-pg16
    image: timescale/timescaledb:2.19.1-pg17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    volumes:
      - timescale-storage:/var/lib/postgresql/data

  opc-server:
    build: ./e2e/opc_server
    ports:
      - 4840:4840
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "uaread -u opc.tcp://opc-server:4840/rlcore/server/ -n 'ns=2;i=2'",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    develop:
      watch:
        - action: rebuild
          path: ./e2e/opc_server

  telegraf:
    # image: telegraf:latest
    image: telegraf:1.32.3
    depends_on:
      timescale-db:
        condition: service_healthy
      opc-server:
        condition: service_healthy
    volumes:
      - ./e2e/telegraf/generated_telegraf.conf:/etc/telegraf/telegraf.conf:ro
    restart: unless-stopped
    develop:
      watch:
        - action: sync+restart
          path: ./e2e/telegraf/generated_telegraf.conf
          target: /etc/telegraf/telegraf.conf

  corerl:
    # corerl web server for direct main config API
    build:
      context: .
      ssh:
        - default
    ports:
      - 8000:8000
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/api/corerl/health"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    entrypoint: ["python", "/usr/local/bin/corerl_start_web"]
    develop:
      watch:
        - action: rebuild
          path: ./corerl
    volumes:
      - type: volume
        source: coreio-storage
        target: /app/coreio-data

  coreio:
    # thin client: https://github.com/rlcoretech/coreio

    # By default, use the latest stable image pushed to github container registry.
    image: ghcr.io/rlcoretech/coreio:latest
    pull_policy: always

    # When working with coreio local image, comment out the "image:" line above and
    # uncomment "build:" and "context:" lines below. Assumes that coreio exists within the same directory as core-rl.
    # build:
    #   context: ../coreio/

    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:2222"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s

    depends_on:
      opc-server:
        condition: service_healthy
      # soft dependency for MainConfig API proxy, thin client can function without this
      # corerl:
      #   condition: service_healthy
    ports:
      - 2222:2222
    volumes:
      - type: volume
        source: coreio-storage
        target: /app/data

  grafana:
    image: grafana/grafana-enterprise
    restart: unless-stopped
    depends_on:
      timescale-db:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
      GF_LOG_FILTERS: rendering:debug
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./e2e/grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - ./e2e/grafana/dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml
      - ./e2e/grafana/grafana_config_continuous_mountain_car.json:/var/lib/grafana/dashboards/grafana_config_continuous_mountain_car.json

  renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - 8081

  config-test:
    profiles: ["test"]
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      timescale-db:
        condition: service_healthy
      opc-server:
        condition: service_healthy
      telegraf:
        condition: service_started
      coreio:
        condition: service_healthy
      opc-sim:
        condition: service_started
    volumes:
      - ./config:/app/config
      - ./corerl:/app/corerl
    entrypoint: ["python"]
    command:
      [
        "-m",
        "corerl.main",
        "--config-name",
        "coreio_dep_mountain_car_continuous",
        "experiment.max_steps=25",
        "env.db.ip=timescale-db",
        "metrics.ip=timescale-db",
        "env.coreio_origin=http://coreio:2222",
      ]

  opc-sim:
    build:
      context: .
      ssh:
        - default

    depends_on:
      timescale-db:
        condition: service_healthy
      opc-server:
        condition: service_healthy
    volumes:
      - ./e2e/opc_clients:/app/e2e/opc_clients
      - ./config/opc_sim:/app/config/opc_sim
    entrypoint: ["python"]
    command:
      [
        "e2e/opc_clients/opc_sim.py",
        "--config-name",
        "config/opc_sim/async_mountain_car_continuous.yaml",
        "opc_endpoint_uri=opc.tcp://admin@opc-server:4840/rlcore/server/",
      ]

volumes:
  timescale-storage: {}
  grafana-storage: {}
  coreio-storage: {}
