services:
  timescale-db:
    # image: timescale/timescaledb:latest-pg16
    image: timescale/timescaledb:2.19.1-pg17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    volumes:
      - timescale-storage:/var/lib/postgresql/data
      # - ./.cache/timescaledb:/var/lib/postgresql/data

  opc-server:
    image: ghcr.io/rlcoretech/corerl-opc-server:latest
    pull_policy: always
    ports:
      - 4840:4840
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "uaread -u opc.tcp://opc-server:4840/rlcore/server/ -n 'ns=2;i=2'",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
  grafana:
    image: grafana/grafana-enterprise
    restart: unless-stopped
    depends_on:
      timescale-db:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
      GF_LOG_FILTERS: rendering:debug
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./test/test/e2e/grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - ./test/test/e2e/grafana/dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml
      - ./test/test/e2e/grafana/grafana_config_continuous_mountain_car.json:/var/lib/grafana/dashboards/grafana_config_continuous_mountain_car.json

  renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - 8081

  config-test:
    profiles: ["test"]
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      timescale-db:
        condition: service_healthy
      opc-server:
        condition: service_healthy
      telegraf:
        condition: service_started
      core-ui:
        condition: service_healthy
      opc-sim:
        condition: service_started
    volumes:
      - ./config:/app/config
      - ./corerl:/app/corerl
    entrypoint: ["python"]
    command:
      [
        "-m",
        "corerl.main",
        "--config-name",
        "coreio_dep_mountain_car_continuous",
        "experiment.max_steps=25",
        "env.db.ip=timescale-db",
        "metrics.ip=timescale-db",
        "env.coreio_origin=http://core-ui:2222",
      ]

  opc-sim:
    image: ghcr.io/rlcoretech/corerl-opc-sim:latest
    pull_policy: always
    command: ["./opc_sim", "--opc_endpoint_uri", "opc.tcp://admin@opc-server:4840/rlcore/server/"]
    depends_on:
      timescale-db:
        condition: service_healthy
      opc-server:
        condition: service_healthy
    volumes:
      - ./config/opc_sim:/app/test/config/opc_sim

volumes:
  timescale-storage: {}
  grafana-storage: {}
  coreio-storage: {}
