experiment:
  exp_name: DraytonValley-Pilot-Backwash
  param_from_hash: True
  seed: 1
  gamma: 0.99

env:
  name: dep_async_env
  obs_period: 00:05:00
  action_period: 00:45:00
  db: ${pipeline.db}
  opc_conn_url: "opc.tcp://localhost:62541"
  ns: 1


agent:
  name: greedy_ac
  n_critic_updates: 1
  n_actor_updates: 1
  n_sampler_updates: 1
  num_samples: 32
  uniform_sampling_percentage: 0.8
  discrete_control: ${env.discrete_control}
  seed: ${experiment.seed}

  critic:
    buffer:
      seed: ${experiment.seed}

  actor:
    buffer:
      seed: ${experiment.seed}
    actor_optimizer:
      lr: 0.00001


pipeline:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: "password"
    ip: "localhost"
    port: 5432
    db_name: "postgres"
    sensor_table_schema: "public"
    sensor_table_name: "opcua"

  state_constructor:
    defaults:
    - name: normalize
      from_data: false
    - name: multi_trace
      trace_values:
      - 0.0
      - 0.9

  transition_creator:
    name: anytime
  tags:
  - name: PERM_SP.BW_SP # flow rate setpoint
    bounds:
    - 0.9
    - 1.4
    is_action: true
    state_constructor: # exclude from state
    - name: "null"

  - name: BW_SP.KY2 # backpulse duration setpoint
    bounds:
    - 20
    - 40
    is_action: true
    state_constructor: # exclude from state
    - name: "null"

  - name: PRC_INFO.PERMEABILITY # permeability
    bounds:
    # this tag reports negative permeability
    - -40
    - -15
    reward_constructor:
    - name: affine
      scale: 0.04 # 1 / (max - min)
      bias: 0.6 # min / (max - min)
    - name: scale
      factor: -1.0 # convert from negative permeability normalized to [0, 1] -> positive permeability normalized to [-1, 0]

  - name: TUIT101.DATA # raw turbidity
    bounds:
    - 0.0
    - 1.5

  - name: FTC101.DATA # raw cdom
    bounds:
    - 1.0
    - 4.0

  - name: FTT100.DATA # raw tryptophan
    bounds:
    - 0.0
    - 0.7

  - name: TIT302.DATA # postfloc water temp
    bounds:
    - 0.0
    - 15.0
