log_path: "outputs/pilot"

experiment:
  exp_name: DraytonValley-Pilot-Backwash
  param_from_hash: True
  seed: 1
  gamma: 0.99
  run_forever: True

interaction:
  name: dep_interaction
  warmup_period: 03:00:00
  obs_period: 00:05:00
  action_period: 00:45:00

event_bus:
  enabled: True

env:
  name: dep_async_env
  obs_period: 00:05:00
  update_period: 00:02:30
  action_period: 00:45:00
  seed: ${experiment.seed}
  db: ${pipeline.db}
  opc_conn_url: "opc.tcp://ignition-services:62541"
  opc_ns: 1
  discrete_control: False
  action_tolerance: 00:05:00


agent:
  name: greedy_ac
  n_critic_updates: 1
  n_actor_updates: 1
  n_sampler_updates: 1
  num_samples: 32
  uniform_sampling_percentage: 0.8
  discrete_control: ${env.discrete_control}
  seed: ${experiment.seed}

  critic:
    buffer:
      name: uniform
      seed: ${experiment.seed}

  actor:
    buffer:
      name: uniform
      seed: ${experiment.seed}
    actor_optimizer:
      lr: 0.00001


metrics:
  name : db
  drivername: "postgresql+psycopg2"
  username: "postgres"
  password: "password"
  ip: "timescaledb"
  port: 5432
  db_name: "postgres"
  table_schema: "public"
  table_name: "metrics"
  enabled: True
  lo_wm: 5

pipeline:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: "password"
    ip: "timescaledb"
    port: 5432
    db_name: "postgres"
    table_schema: "public"
    table_name: "pilot"

  transition_creator:
    name: all-the-time
    gamma: ${experiment.gamma}

  tags:
  - name: PERM_SP.BW_SP # flow rate setpoint
    node_identifier: "[pilot]Program:ZW.PERM_SP.BW_SP"
    operating_range: [0.9, 1.4]
    outlier:
      name: identity
    action_constructor:
      - name: identity
    state_constructor: # exclude from state
    - name: "null"

  - name: BW_SP.KY2 # backpulse duration setpoint
    node_identifier: "[pilot]Program:ZW.BW_SP.KY2"
    operating_range: [20, 40]
    outlier:
      name: identity
    action_constructor:
      - name: identity
    state_constructor: # exclude from state
    - name: "null"

  - name: PRC_INFO.PERMEABILITY # permeability
    operating_range: [-25, -15] # this tag reports negative permeability
    filter:
    - name: binary
      op: replace
      other: "CTRL_P.STEP"
      other_xform:
      - name: identity
    - name: comparator
      op: '!='
      val: 1305
    outlier:
      name: identity
    imputer:
      name: copy
      imputation_horizon: 12
    state_constructor:
    - name: multi_trace
      trace_values:
      - 0.0
      - 0.9
    reward_constructor:
    - name: scale # min negative permeability -> max positive permeability
      factor: -1
    - name: normalize # normalize to [0, 1]
      min: 20
      max: 25
    - name: affine # compress to [-0.5, 0]
      scale: 0.5
      bias: -0.5

  - name: CTRL_P.STEP # mode, excluded from state but used in reward fn
    preprocess:
    - name: identity
    outlier:
      name: identity
    state_constructor:
    - name: "null"

  - name: TUIT101.DATA # raw turbidity
    operating_range: [0, 1.5]
    outlier:
      name: identity
    imputer:
      name: copy
      imputation_horizon: 12
    state_constructor:
    - name: multi_trace
      trace_values:
      - 0.0
      - 0.9

  - name: FTC101.DATA # raw cdom
    operating_range: [1, 4]
    outlier:
      name: identity
    imputer:
      name: copy
      imputation_horizon: 12
    state_constructor:
    - name: multi_trace
      trace_values:
      - 0.0
      - 0.9

  - name: FTT100.DATA # raw tryptophan
    operating_range: [0, 0.7]
    outlier:
      name: identity
    imputer:
      name: copy
      imputation_horizon: 12
    state_constructor:
    - name: multi_trace
      trace_values:
      - 0.0
      - 0.9

  - name: TIT302.DATA # postfloc water temp
    operating_range: [0, 15]
    outlier:
      name: identity
    imputer:
      name: copy
      imputation_horizon: 12
    state_constructor:
    - name: multi_trace
      trace_values:
      - 0.0
      - 0.9
