defaults:
  - ./coreio_main_tags.yaml

log_path: outputs/main/backwash
agent_name: main_backwash
seed: 1
is_simulation: False

feature_flags:
  autoencoder_imputer: false
  wide_metrics: true

infra:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: "password"
    ip: "localhost"
    port: 5432
    db_name: "postgres"

agent:
  name: greedy_ac
  gamma: 0.9928 # half life 24h

interaction:
  name: dep_interaction
  restore_checkpoint: False
  checkpoint_path: 'outputs/checkpoints/main'
  obs_period: 00:15:00 # prod lasts ~45 minutes
  update_period: 00:01:00
  action_period: 04:00:00 # backwash every ~4.5 hours
  warmup_period: 72:00:00
  update_warmup: 30 # number of updates before interacting
  historical_batch_size: 8640 # 90 days @ 15 minute obs period
  historical_windows:
  - [2025-01-01 00:00:00+0000, null]

event_bus:
  enabled: True
  cli_connection: tcp://localhost:5561

coreio:
  coreio_origin: "tcp://localhost:5560"
  data_ingress:
    enabled: True
    ingress_period: 00:00:01
  opc_connections:
    - connection_id: main_opc
      opc_conn_url: "opc.tcp://localhost:62541"
      application_uri: main_bw
      security_policy:
        policy: none
        mode: none
      authentication_mode: anonymous
    - connection_id: backwash_wa
      opc_conn_url: "opc.tcp://localhost:50505"
      application_uri: main_bw
      security_policy:
        policy: none
        mode: none
      authentication_mode: anonymous
    - connection_id: coag_wa
      opc_conn_url: "opc.tcp://localhost:50506"
      application_uri: main_bw
      security_policy:
        policy: none
        mode: none
      authentication_mode: anonymous


env:
  name: dep_async_env
  db:
    table_name: "main_sensors3"
    wide_format: true

metrics:
  enabled: True
  table_name: metrics_main_bw

evals:
  enabled: True
  table_name: evals_main_bw

pipeline:
  reward:
    priorities:
    - op: down_to
      tag: VEOLIA_UF2_BP_CYCLE_TOTAL
      thresh: 3500
    - tags:
      - PERMEABILITY
      directions: max
      weights:
      - 1.0

  oddity_filter:
    defaults:
      - name: 'conditional'
        condition:
          - name: 'sympy'
            expression: "Ne({VEOLIA_UF2_SEQ_STATE}, 8) | ({VEOLIA_UF2_FIT301_PV} < 10) | ({VEOLIA_UF2_TMP_PV} > -1)"
        filtered_tags: ["PERMEABILITY"]

  state_constructor:
    defaults:
      - name: multi_trace
        trace_values: [0., 0.97] # half life 2 hours

  transition_creator:
    name: all-the-time
    # n_step should be 16, give some buffer
    min_n_step: 15
    max_n_step: 16

  transition_filter:
    filters:
    - "only_pre_dp_or_ac"
    - "only_post_dp"
    - "no_nan"
    - "only_no_action_change"

  tags:
  - name: RLCORE_CLEAN_DEP_BP_FLOW_SP_WA
    connection_id: backwash_wa
    node_identifier: "ns=1;s=ai_flow_sp"
    operating_range: [120, 179]
    type: ai_setpoint
    agg: last

  - name: RLCORE_CLEAN_DEP_BP_DUR_SP_WA
    connection_id: backwash_wa
    node_identifier: "ns=1;s=ai_dur_sp"
    operating_range: [10, 30]
    type: ai_setpoint
    agg: last

  - name: PERMEABILITY
    operating_range: [0, 10]
    expected_range: [5, 7]
    is_computed: true
    value: "-{VEOLIA_UF2_FIT301_PV}/{VEOLIA_UF2_TMP_PV}"
    outlier:
      - name: exp_moving
        alpha: 0.9928 # half life 24h
    imputer:
      name: copy
      imputation_horizon: 96

  - name: VEOLIA_UF2_FIT301_PV # permeate flow rate
    preprocess:
    - name: identity
    state_constructor:
    - name: nuke

  - name: VEOLIA_UF2_TMP_PV # used in permeability calculation
    state_constructor:
    - name: nuke

  - name: VEOLIA_UF2_SEQ_STATE # used in permeability calculation
    operating_range: [1, 2048]
    state_constructor:
    - name: nuke

  - name: VEOLIA_UF2_BP_CYCLE_TOTAL
    operating_range: [0, 5500]
    expected_range: [1300, 5000]

  - name: ISL_RAW_UV01_UV254_PV # raw uvt
    operating_range: [0, 110]

  - name: ISL_PERMEATE_UV03_UV254_PV # permeate uvt
    operating_range: [0, 110]

  - name: ISL_RAW_FLR01_TRYP_PV # raw tryptophan
    operating_range: [0, 10]

  - name: ISL_PERMEATE_FLR03_TRYP_PV # permeate tryptophan
    operating_range: [0, 10]
    expected_range: [2, 7]

  - name: ISL_CLEAN_FLR04_TRYP_PV # drain tryptophan
    operating_range: [0, 20]

  - name: ISL_RAW_FLR01_CDOM_PV # raw cdom
    operating_range: [0, 100]

  - name: ISL_PERMEATE_FLR03_CDOM_PV # permeate cdom
    operating_range: [0, 100]
    expected_range: [15, 40]

  - name: VEOLIA_RAW_AIT310_PV # raw turbidity
    expected_range: [0, 150]
    operating_range: [0, null]

#  - name: VEOLIA_UF2_AIT320_PV # permeate turbidity
#    operating_range: [0, 30]

  - name: ISL_DIST_AIT_130_PV # raw pH
    operating_range: [6.5, 8.5]

# C4025 temporarily disabled
#  - name: COL01_C4025_PV # color 4025
#    operating_range: [0, 425]

# - name: COL01_C4100_PV # color 4100
#   operating_range: [0, 20]
