defaults:
  - base_env
  - reward : scrubber
  - _self_

name: OnlineScrubber
# model_pth: test_v0/scrubber_controller_predictor/efficiency/predict_1h_average_delay5min/train_rollout1/fc/param_0/seed_0/
# env_config: config/env/epcor/efficiency_1h_delay5min.yaml
constant_sp:
  ns=3;i=16: 2.4

reward_high : 1.0
reward_low : 0.8

discrete_control: False

# data_file: offline_data/scrubber/clean_data_utc.csv
data_file: offline_data/scrubber/renamed_clean_data.csv

special_tags:
  - "ns=3;i=1" # heartbeat
  - "ns=3;i=16" #PDIC3738_SP (DP)
  - AIC3730_MODE  # pH controller
  - AIC3731_MODE  # ORP controller
  - PDIC3738_MODE  # Differential pressure
  - FIC3734_MODE  # Flow rate
  - PDIC3738_SP # DP

obs_col_names: 
  - AIC3730_PV # pH process value
  - AIC3731_PV # ORP process value
  - FIC3734_PV # flow rate PV
  - AIC3730_OUT # pH pump output
  - AIC3731_OUT # ORP pump output
  # - FIC3734_OUT # flow rate controller output
  - LI3734 # scrubber tower sump level
  - FI0872 # scrubber recirc flow
  - AI0879A # H2S inlet
  - AI0879B # H2S outlet
  - AI0879C # H2S efficiency
  - PDIC3738_PV # PDIC-3738 (PID Process Value)
  - PDIC3738_OUT # PDIC-3738 (PID Output)
  - PI0169 # blower discharge pressure
  - TI0880 # scrubber inlet temp
  - AI0897B # scrubber softened water conductivity

endo_obs_names: 
  - AIC3730_PV # pH process value
  - AIC3731_PV # ORP process value
  - FIC3734_PV # flow rate PV
  - AIC3730_OUT # pH pump output
  - AIC3731_OUT # ORP pump output
  - FIC3734_OUT # flow rate controller output
  - LI3734 # scrubber tower sump level
  - FI0872 # scrubber recirc flow
  - AI0879A # H2S inlet
  - AI0879B # H2S outlet
  - AI0879C # H2S efficiency

endo_inds: [0,1,2,3,4,5,6,7,8,9,10]

# We write to control tags (RL Core setpoints)
control_tags:
  - "ns=3;i=14" #AIC3730_SP (pH)
  - "ns=3;i=15" #AIC3731_SP (ORP)
  # - "ns=3;i=16" #PDIC3738_SP (DP)
  - "ns=3;i=17" #FIC3732_SP FIC3734_SP (flow)

# deployed setpoints are actually 
# affecting the process
action_names:
  - AIC3730_SP # pH
  - AIC3731_SP # ORP
  - FIC3734_SP # flow