defaults:
  - agent: epsilon_greedy_sarsa
  - env : three_tanks
  - interaction : anytime
  - data_loader : direct_action
  - state_constructor : identity
  - calibration_model : anytime
  - normalizer : normalizer
  - override agent/buffer: sql_buffer

agent:
  buffer:
    db_name: e2e_test
  samples: 100

experiment:
  exp_name : experiment
  exp_info : experiment
  debug : 0
  seed : 0
  param : 0
  device : cpu
  timeout : 1
  offline_steps : 0
  max_steps : 200
  render : 0
  save_path : output
  load_env_obs_space_from_data : False
  param_from_hash : False
  gamma : 0.0
  train_split : 0.9
  plot_split : 0.999
  test_epochs : null # If you want to test at certain epochs, specify a list here
  offline_stat_keys: []
  online_stat_keys: []
