defaults:
  - agent: iql
  - env : reseau
  - data_loader : direct_action
  - interaction : anytime
  - state_constructor : anytime
  - eval :  # we may have multiple evaluators.
      - ibe
  - _self_

experiment:
  exp_name : experiment
  exp_info : experiment
  debug : 0
  seed : 0
  param : 0
  device : cpu
  timeout : 1
  offline_steps : 1000
  max_steps : 5000
  render : 0
  save_path : output

