defaults:
  - agent: greedy_ac
  - env : three_tanks
  - data_loader : direct_action
  - interaction : normalizer
  - state_constructor : identity
  - eval@eval.ibe : ibe # this lets us have multiple subconfigs rooted at eval
  - eval@eval.reward : reward
  - _self_

experiment:
  exp_name : experiment
  exp_info : experiment
  debug : 0
  seed : 0
  param : 0
  device : cpu
  timeout : 1
  offline_steps : 0
  max_steps : 5000
  render : 0
  save_path : output
  set_env_obs_space : False
