defaults:
  - agent: greedy_ac
  - env : three_tanks
  - interaction : normalizer
  - data_loader : direct_action
  - state_constructor : identity
  - calibration_model : simple
  - alerts@alerts.action_value : action_value
  - alerts@alerts.gvf : gvf
#  - eval@eval.ibe : ibe # this lets us have multiple subconfigs rooted at eval
  - eval@eval.reward : reward
#  - eval@eval.action_gap : action_gap
  - _self_



experiment:
  exp_name : experiment
  exp_info : experiment
  debug : 0
  seed : 0
  param : 0
  device : cpu
  timeout : 1
  offline_steps : 0
  max_steps : 200
  render : 0
  save_path : output
  set_env_obs_space : False
  param_from_hash : True
  gamma : 0.9
  train_split : 0.9
  test_epochs : None # If you want to test at certain epochs, specify a list here

