defaults:
  - agent: greedy_ac
  - env : three_tanks
  - interaction : normalizer
  - state_constructor : identity
  - _self_

experiment:
  exp_name : experiment
  exp_info : experiment
  debug : 0
  seed : 0
  param : 0
  device : cpu
  timeout : 1
  max_steps : 5000
  render : 0
  save_path : output


evaluator:
  gamma : ${agent.gamma} # refers to gamma of the agent
  return_window : 100
  reward_window : 100