defaults:
  - base_config
  - _self_
  - agent: greedy_ac
  - env : three_tanks
#  - alerts@alerts.action_value_trace : action_value_trace
#  - alerts@alerts.action_value_uncertainty : action_value_uncertainty
#  - alerts@alerts.gvf_trace : gvf_trace
#  - alerts@alerts.gvf_uncertainty : gvf_uncertainty
#  - eval@eval.ibe : ibe # this lets us have multiple subconfigs rooted at eval
#  - eval@eval.train_loss : train_loss
#  - eval@eval.test_loss : test_loss
#  - eval@eval.action_gap : action_gap
#  - eval@eval.trace_alerts : trace_alerts
#  - eval@eval.uncertainty_alerts : uncertainty_alerts
#  - eval@eval.actions : actions
#  - eval@eval.endo_obs : endo_obs
#  - eval@eval.ensemble : ensemble

use_alerts : False
action_period: 1

agent:
  message_bus:
    enable: False
    host: ${event_bus.host}
    port: ${event_bus.port}

# Uncomment the alerts or evals you'd like to use in the defaults list above
alerts:
