defaults:
  - base_config
  - _self_
  - agent: greedy_ac
  - env : three_tanks
  - interaction : anytime
  - data_loader : direct_action
  - state_constructor : identity
  - calibration_model : anytime
  - normalizer/action_normalizer : scale
  - normalizer/obs_normalizer : maxmin
  - normalizer/reward_normalizer : scale
#  - alerts@alerts.action_value_trace : action_value_trace
#  - alerts@alerts.action_value_uncertainty : action_value_uncertainty
#  - alerts@alerts.gvf_trace : gvf_trace
#  - alerts@alerts.gvf_uncertainty : gvf_uncertainty
#  - eval@eval.ibe : ibe # this lets us have multiple subconfigs rooted at eval
#  - eval@eval.train_loss : train_loss
#  - eval@eval.test_loss : test_loss
#  - eval@eval.reward : reward
#  - eval@eval.action_gap : action_gap
#  - eval@eval.trace_alerts : trace_alerts
#  - eval@eval.uncertainty_alerts : uncertainty_alerts
#  - eval@eval.actions : actions
#  - eval@eval.endo_obs : endo_obs
#  - eval@eval.ensemble : ensemble

use_alerts : False

agent_transition_creator:
  gamma : ${experiment.gamma}
  steps_per_decision : ${interaction.steps_per_decision}
  n_step : ${interaction.n_step}
  only_dp_transitions :  ${interaction.only_dp_transitions}
  transition_kind : anytime

alert_transition_creator:
  gamma : ${experiment.gamma}
  steps_per_decision : ${interaction.steps_per_decision}
  n_step : ${interaction.n_step}
  only_dp_transitions :  ${interaction.only_dp_transitions}
  transition_kind : anytime

agent:
  message_bus:
    enable: False
    host: ${event_bus.host}
    port: ${event_bus.port}

event_bus:
  host: localhost
  port: 8123

# Uncomment the alerts or evals you'd like to use in the defaults list above
alerts:

eval:
