# This variant of mountain_car_continuous requires that the OPC server and client be running.
# All interactions to the mountain car continuous environment is performed through OPC, all state observations are read
# through TSDB.


# --------------------
# -- Infrastructure --
# --------------------
log_path: "outputs/e2e_smoke"

seed: 1
is_simulation: False

agent:
  gamma: 0.99

env:
  name: dep_async_env
  setpoint_ping_period: 00:00:10
  action_tolerance: 00:00:01
  coreio_origin: http://coreio:2222       # coreio hostname derived from docker-compose up app name
  # coreio_origin: http://localhost:2222  # use localhost or 0.0.0.0 for when agent running outside of docker network

  db:
    table_name: sensors

event_bus:
  enabled: True

metrics:
  enabled: True

# -----------
# -- Agent --
# -----------

interaction:
  name: dep_interaction
  restore_checkpoint: False
  historical_batch_size: 100
  hist_chunk_start: 2025-02-05 12:00:00+0000 # YYYY-MM-DD hh:mm:ss
  obs_period: 00:00:01
  action_period: 00:00:03
  update_period: 00:00:01
  heartbeat:
    connection_id: f2365731-eeee-4b3f-b1dc-54634735d1d9
    heartbeat_node_id: "ns=2;s=heartbeat"
    heartbeat_period: 00:00:01
    max_counter: 10

pipeline:
  tags:
  - name: action-0
    type: ai_setpoint
    # UUID determined from core-io default connection seed, see also:
    # https://github.com/rlcoretech/coreio/blob/2dbd99feba82fd2e148fc0a0aa5d939ade640baf/server/src/bin/seed.ts#L14
    connection_id: f2365731-eeee-4b3f-b1dc-54634735d1d9
    node_identifier: "ns=2;s=action-0"
    agg: last
    operating_range: [-1.5, 1.5]
    guardrail_schedule:
      starting_range: [-0.1, 0.1]
      duration: 00:02:00
    reward_constructor:
    - name: power
      pow: 2
    - name: scale
      factor: -0.1

  - name: tag-0
    operating_range: [-1.2, 0.6]
    red_bounds: [-1.0, null]
    yellow_bounds: [-0.8, null]

  - name: tag-1
    operating_range: [-0.07, 0.07]
    red_bounds: [-0.06, 0.06]
