# This variant of mountain_car_continuous requires that the OPC server and client be running.
# All interactions to the mountain car continuous environment is performed through OPC, all state observations are read
# through TSDB.


# --------------------
# -- Infrastructure --
# --------------------
log_path: "outputs/e2e_smoke"

experiment:
  exp_name: OPC_MountainCarContinuous
  seed: 1
  gamma: 0.99

env:
  name: dep_async_env
  setpoint_ping_period: 00:00:10
  action_tolerance: 00:00:01
  discrete_control: False
  seed: ${experiment.seed}
  opc_conn_url: "opc.tcp://admin@0.0.0.0:4840/rlcore/server/"
  opc_ns: 2

  db:
    table_name: opcua

event_bus:
  enabled: True

metrics:
  enabled: True

# -----------
# -- Agent --
# -----------

interaction:
  name: dep_interaction
  restore_checkpoint: False
  historical_batch_size: 100
  hist_chunk_start: 2025-02-05 12:00:00+0000 # YYYY-MM-DD hh:mm:ss
  obs_period: 00:00:05
  action_period: 00:00:15
  update_period: 00:00:05
  heartbeat:
    heartbeat_node_id: "ns=2;s=heartbeat"
    heartbeat_period: 00:00:01
    max_counter: 10

agent:
  name: greedy_ac
  n_critic_updates: 1
  n_actor_updates: 1
  num_samples: 128
  uniform_sampling_percentage: 0.8
  discrete_control: ${env.discrete_control}
  seed: ${experiment.seed}

  critic:
    critic_optimizer:
      lr: 0.01

  actor:
    actor_optimizer:
      lr: 0.01


pipeline:
  state_constructor:
    defaults:
      - name: multi_trace
        trace_values: [0, 0.9]

  transition_creator:
    name: anytime

  tags:
  - name: action-0
    agg: last
    operating_range: [-1.5, 1.5]
    outlier:
      name: identity
    imputer:
      name: identity
    reward_constructor:
    - name: power
      pow: 2
    - name: scale
      factor: -0.1
    state_constructor:
      - name: 'null'
    action_constructor:
    - name: identity

  - name: tag-0
    operating_range: [-1.2, 0.6]
    red_bounds: [-1.0, null]
    yellow_bounds: [-0.8, null]
    outlier:
      name: identity
    imputer:
      name: identity
    reward_constructor:
    - name: 'null'

  - name: tag-1
    operating_range: [-0.07, 0.07]
    red_bounds: [-0.06, 0.06]
    outlier:
      name: identity
    imputer:
      name: identity
    reward_constructor:
    - name: 'null'
