# This variant of mountain_car_continuous requires that the OPC server and client be running.
# All interactions to the mountain car continuous environment is performed through OPC, all state observations are read
# through TSDB.

log_path: "outputs/e2e_smoke"

experiment:
  exp_name: OPC_MountainCarContinuous
  param_from_hash: True
  seed: 1
  gamma: 0.99

interaction:
  name: dep_interaction
  restore_checkpoint: False
  historical_batch_size: 100
  hist_chunk_start: 2025-02-05 12:00:00+0000 # YYYY-MM-DD hh:mm:ss
  heartbeat:
    heartbeat_node_id: "ns=2;s=heartbeat"
    heartbeat_period: 00:00:01
    max_counter: 10

event_bus:
  enabled: True

env:
  name: dep_async_env
  obs_period: 00:00:05
  update_period: 00:00:05
  action_period: 00:00:15
  setpoint_ping_period: 00:00:10
  discrete_control: False
  seed: ${experiment.seed}
  db: ${pipeline.db}
  opc_conn_url: "opc.tcp://admin@0.0.0.0:4840/rlcore/server/"
  opc_ns: 2
  action_tolerance: 00:00:01


agent:
  name: greedy_ac
  n_critic_updates: 1
  n_actor_updates: 1
  n_sampler_updates: 1
  num_samples: 128
  uniform_sampling_percentage: 0.8
  discrete_control: ${env.discrete_control}
  seed: ${experiment.seed}

  critic:
    buffer:
      name: uniform
      seed: ${experiment.seed}
    critic_optimizer:
      lr: 0.01

  actor:
    buffer:
      name: uniform
      seed: ${experiment.seed}
    actor_optimizer:
      lr: 0.01


metrics:
  name : db
  drivername: "postgresql+psycopg2"
  username: "postgres"
  password: "password"
  ip: "localhost"
  port: 5432
  db_name: "postgres"
  table_schema: "public"
  table_name: "metrics"
  enabled: True
  lo_wm: 5

pipeline:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: "password"
    ip: "localhost"
    port: 5432
    db_name: "postgres"
    table_schema: "public"
    table_name: "opcua"

  state_constructor:
    defaults: []

  transition_creator:
    name: anytime

  tags:
  - name: action-0
    agg: last
    operating_range: [-1.5, 1.5]
    outlier:
      name: identity
    imputer:
      name: identity
    reward_constructor:
    - name: power
      pow: 2
    - name: scale
      factor: -0.1
    state_constructor:
      - name: 'null'
    action_constructor:
    - name: identity

  - name: tag-0
    operating_range: [-1.2, 0.6]
    red_bounds: [-1.0, null]
    yellow_bounds: [-0.8, null]
    outlier:
      name: identity
    imputer:
      name: identity
    reward_constructor:
    - name: 'null'
    state_constructor:
    - name: multi_trace
      trace_values: [0, 0.9]

  - name: tag-1
    operating_range: [-0.07, 0.07]
    red_bounds: [-0.06, 0.06]
    outlier:
      name: identity
    imputer:
      name: identity
    reward_constructor:
    - name: 'null'
    state_constructor:
    - name: multi_trace
      trace_values: [0, 0.9]

