# --------------------
# -- Infrastructure --
# --------------------
log_path: "outputs/e2e_tep"

seed: 1
is_simulation: False

agent:
  gamma: 0.99

coreio:
  coreio_origin: "tcp://localhost:5558"
  opc_connections:
    - connection_id: opc_local 
      opc_conn_url: opc.tcp://admin@localhost:4840
      application_uri: "client"
      security_policy:
        policy: none
        mode: none
      authentication_mode: anonymous

evals:
  enabled: True

env:
  name: dep_async_env

  db:
    table_name: sensors

event_bus:
  enabled: True

metrics:
  enabled: True

# -----------
# -- Agent --
# -----------

interaction:
  name: dep_interaction
  restore_checkpoint: false
  load_historical_data: false
  obs_period: 00:00:01
  action_period: 00:00:01
  update_period: 00:00:01
  state_age_tol: 01:00:00

pipeline:
  max_data_gap: 01:00:00

  reward:
    priorities:
      - tags: [G_GOAL, H_GOAL]
        directions: [min, min]

  tags:
  - name: ACTIONS_5 # Chemical A
    type: ai_setpoint
    connection_id: opc_local
    node_identifier: "ns=2;s=AI_ACTIONS_5"
    agg: last
    action_bounds: ['{ACTIONS_5}-0.1', '{ACTIONS_5}+0.1']
    operating_range: [25, 40]

  - name: ACTIONS_6 # Chemical D
    type: ai_setpoint
    connection_id: opc_local
    node_identifier: "ns=2;s=AI_ACTIONS_6"
    agg: last
    action_bounds: ['{ACTIONS_6}-0.1', '{ACTIONS_6}+0.1']
    operating_range: [5, 8]

  - name: ACTIONS_7 # Chemical E
    type: ai_setpoint
    connection_id: opc_local
    node_identifier: "ns=2;s=AI_ACTIONS_7"
    agg: last
    action_bounds: ['{ACTIONS_7}-0.1', '{ACTIONS_7}+0.1']
    operating_range: [10, 30]

  - name: ACTIONS_10 # Reactor Temp
    type: ai_setpoint
    connection_id: opc_local
    node_identifier: "ns=2;s=AI_ACTIONS_10"
    agg: last
    action_bounds: ['{ACTIONS_10}-1', '{ACTIONS_10}+1']
    operating_range: [110, 130]

  # - name: ACTIONS_9
  #   operating_range: [0, 100]

  - name: G_GOAL
    is_computed: True
    value: "abs({XMEAS_40} - 50)"
    operating_range: [0, 20]

  - name: H_GOAL
    is_computed: True
    value: "abs({XMEAS_41} - 50)"
    operating_range: [0, 20]

  - name: "XMEAS_1"  # A Feed  (stream 1)                    kscmh
    operating_range: [0, 2]
  - name: "XMEAS_2"  # D Feed  (stream 2)                    kg/hr
    operating_range: [2500, 6000]
  - name: "XMEAS_3"  # E Feed  (stream 3)                    kg/hr
    operating_range: [2500, 7000]
  - name: "XMEAS_4"  # A and C Feed  (stream 4)              kscmh
    operating_range: [0, 100]
  - name: "XMEAS_5"  # Recycle Flow  (stream 8)              kscmh
    operating_range: [0, 100]
  - name: "XMEAS_6"  # Reactor Feed Rate  (stream 6)         kscmh
    operating_range: [0, 100]
  - name: "XMEAS_7"  # Reactor Pressure                      kPa gauge
    operating_range: [2000, 4000]
    red_bounds: [null, 2895]
    yellow_bounds: [null, 2750]
  - name: "XMEAS_8"  # Reactor Level                         %
    operating_range: [45, 100]
    red_bounds: [50, null]
    yellow_bounds: [55, null]
  - name: "XMEAS_9"  # Reactor Temperature                   Deg C
    operating_range: [0, 160]
    red_bounds: [null, 150]
    yellow_bounds: [null, 140]
  - name: "XMEAS_10" # Purge Rate (stream 9)                 kscmh
    operating_range: [0, 1.1]
  - name: "XMEAS_11" # Product Sep Temp                      Deg C
    operating_range: [0, 150]
  - name: "XMEAS_12" # Product Sep Level                     %
    operating_range: [25, 100]
    red_bounds: [30, null]
    yellow_bounds: [35, null]
  - name: "XMEAS_13" # Prod Sep Pressure                     kPa gauge
    operating_range: [2000, 4000]
  - name: "XMEAS_14" # Prod Sep Underflow (stream 10)        m3/hr
    operating_range: [0, 100]
  - name: "XMEAS_15" # Stripper Level                        %
    operating_range: [25, 100]
    red_bounds: [30, null]
    yellow_bounds: [35, null]
  - name: "XMEAS_16" # Stripper Pressure                     kPa gauge
    operating_range: [2000, 4000]
  - name: "XMEAS_17" # Stripper Underflow (stream 11)        m3/hr
    operating_range: [0, 100]
  - name: "XMEAS_18" # Stripper Temperature                  Deg C
    operating_range: [0, 100]
  - name: "XMEAS_19" # Stripper Steam Flow                   kg/hr
    operating_range: [0, 1000]
  - name: "XMEAS_20" # Compressor Work                       kW
    operating_range: [0, 500]
  - name: "XMEAS_21" # Reactor Cooling Water Outlet Temp     Deg C
    operating_range: [0, 200]
  - name: "XMEAS_22" # Separator Cooling Water Outlet Temp   Deg C
    operating_range: [0, 150]

    # Reactor Feed Analysis (Stream 6)
    #     Sampling Frequency = 0.1 hr
    #     Dead Time = 0.1 hr
    #     Mole %
  - name: "XMEAS_23" # Component A
    operating_range: [0, 100]
  - name: "XMEAS_24" # Component B
    operating_range: [0, 100]
  - name: "XMEAS_25" # Component C
    operating_range: [0, 100]
  - name: "XMEAS_26" # Component D
    operating_range: [0, 100]
  - name: "XMEAS_27" # Component E
    operating_range: [0, 100]
  - name: "XMEAS_28" # Component F
    operating_range: [0, 100]

    # Purge Gas Analysis (Stream 9)
    #     Sampling Frequency = 0.1 hr
    #     Dead Time = 0.1 hr
    #     Mole %
  - name: "XMEAS_29" # Component A
    operating_range: [0, 100]
  - name: "XMEAS_30" # Component B
    operating_range: [0, 100]
  - name: "XMEAS_31" # Component C
    operating_range: [0, 100]
  - name: "XMEAS_32" # Component D
    operating_range: [0, 100]
  - name: "XMEAS_33" # Component E
    operating_range: [0, 100]
  - name: "XMEAS_34" # Component F
    operating_range: [0, 100]
  - name: "XMEAS_35" # Component G
    operating_range: [0, 100]
  - name: "XMEAS_36" # Component H
    operating_range: [0, 100]

    # Product Analysis (Stream 11)
    #     Sampling Frequency = 0.25 hr
    #     Dead Time = 0.25 hr
    #     Mole %
  - name: "XMEAS_37" # Component D
    operating_range: [-0.1, 100]
  - name: "XMEAS_38" # Component E
    operating_range: [0, 100]
  - name: "XMEAS_39" # Component F
    operating_range: [0, 100]
  - name: "XMEAS_40" # Component G
    operating_range: [0, 100]
  - name: "XMEAS_41" # Component H
    operating_range: [0, 100]


  - name: "XMV_1"    # D Feed Flow (stream 2)
    operating_range: [0, 100]
  - name: "XMV_2"    # E Feed Flow (stream 3)
    operating_range: [0, 100]
  - name: "XMV_3"    # A Feed Flow (stream 1)
    operating_range: [0, 100]
  - name: "XMV_4"    # A and C Feed Flow (stream 4)
    operating_range: [0, 100]
  - name: "XMV_5"    # Compressor Recycle Valve
    operating_range: [0, 100]
  - name: "XMV_6"    # Purge Valve (stream 9)
    operating_range: [0, 100]
  - name: "XMV_7"    # Separator Pot Liquid Flow (stream 10)
    operating_range: [0, 100]
  - name: "XMV_8"    # Stripper Liquid Product Flow (stream 11)
    operating_range: [0, 100]
  - name: "XMV_9"    # Stripper Steam Valve
    operating_range: [0, 105]
  - name: "XMV_10"   # Reactor Cooling Water Flow
    operating_range: [0, 100]
  - name: "XMV_11"   # Condenser Cooling Water Flow
    operating_range: [0, 100]
  - name: "XMV_12"    # Agitator Speed
    operating_range: [0, 100]
