defaults:
  - gym
  - env: env/pendulum

interaction:
  name: sim_interaction

agent:
  name: greedy_ac
  n_critic_updates : 1
  n_actor_updates : 1
  n_sampler_updates : 1
  num_samples: 32
  uniform_sampling_percentage: 0.8
  gamma: ${experiment.gamma}
  discrete_control: ${env.discrete_control}
  seed: ${experiment.seed}

  critic:
    buffer:
      seed: ${experiment.seed}

  actor:
    buffer:
      seed: ${experiment.seed}
    actor_optimizer:
      lr: 0.00001

experiment:
  exp_name: pendulum_test/
  max_steps: 10000
  debug : 0
  seed : 1
  device : cpu
  timeout : 0
  offline_steps : 0
  render : 1
  gamma : 0.99

pipeline:
  state_constructor:
    defaults: []

  transition_creator:
    name: anytime
    gamma: ${experiment.gamma}

  tags:
  - name: action
    is_meta: False
    outlier:
      name: identity
    state_constructor:
      - name: "null"
    action_constructor:
      - name: normalize
        min: -2
        max: 2
        from_data: False

  # observations
  - name: "x"
    is_meta: False
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]

  - name: "y"
    is_meta: False
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]

  - name: "ang_vel"
    is_meta: False
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]


  - name: reward
    is_meta: True
    outlier:
      name: identity

  - name: terminated
    is_meta: True
    outlier:
      name: identity

  - name: truncated
    is_meta: True
    outlier:
      name: identity
    state_constructor: null
