defaults:
  - env: env/pendulum

feature_flags:
  delta_actions: True

interaction:
  name: sim_interaction
  obs_period: 00:00:01
  action_period: 00:00:01

metrics:
  enabled: False

agent:
  name: greedy_ac

experiment:
  exp_name: pendulum_test/
  max_steps: 10000
  seed : 1
  gamma : 0.99

pipeline:
  state_constructor:
    defaults:
      - name: multi_trace
        trace_values: [0, 0.95]

  tags:
  - name: action-0
    type: ai_setpoint
    operating_range: [-2, 2]
    change_bounds: [-0.5, 0.5]

  # observations
  # x
  - name: tag-0
    operating_range: [-1, 1]

  # y
  - name: tag-1
    operating_range: [-1, 1]

  # ang_vel
  - name: tag-2
    operating_range: [-8, 8]
    red_bounds: [-7.5, 7.5]
    yellow_bounds: [-6, 6]


  - name: reward
    type: meta

  - name: terminated
    type: meta

  - name: truncated
    type: meta
