defaults:
  - env: env/pendulum

interaction:
  name: sim_interaction
  obs_period: 00:00:01
  action_period: 00:00:01

metrics:
  enabled: False

agent:
  name: greedy_ac
  n_critic_updates : 1
  n_actor_updates : 1
  num_samples: 32
  uniform_sampling_percentage: 0.8
  gamma: ${experiment.gamma}
  discrete_control: ${env.discrete_control}
  delta_action: True
  delta_bounds: [-0.5, 0.5]
  seed: ${experiment.seed}

  critic:
    buffer:
      name: uniform
      seed: ${experiment.seed}

  actor:
    buffer:
      name: uniform
      seed: ${experiment.seed}
    actor_optimizer:
      lr: 0.00001

experiment:
  exp_name: pendulum_test/
  max_steps: 10000
  seed : 1
  gamma : 0.99

pipeline:
  state_constructor:
    defaults: []

  transition_creator:
    name: anytime
    gamma: ${experiment.gamma}

  tags:
  - name: action-0
    operating_range: [-2, 2]
    is_meta: False
    outlier:
      name: identity
    state_constructor:
      - name: "null"
    action_constructor:
      - name: delta
      - name: clip
        bounds: [-0.5, 0.5]
      - name: normalize
        min: -0.5
        max: 0.5
        from_data: False
      - name: add_raw

  # observations
  # x
  - name: tag-0
    is_meta: False
    operating_range: [-1, 1]
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]

  # y
  - name: tag-1
    is_meta: False
    operating_range: [-1, 1]
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]

  # ang_vel
  - name: tag-2
    is_meta: False
    operating_range: [-8, 8]
    red_bounds: [-7.5, 7.5]
    yellow_bounds: [-6, 6]
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]


  - name: reward
    preprocess:
    - name: identity
    is_meta: True
    outlier:
      name: identity

  - name: terminated
    preprocess:
    - name: identity
    is_meta: True
    outlier:
      name: identity

  - name: truncated
    preprocess:
    - name: identity
    is_meta: True
    outlier:
      name: identity
    state_constructor: null
