defaults:
  - config
  - override hydra/job_logging: custom
  - override agent: greedy_ac
  - override env: delayed_saturation
  - override data_loader: direct_action
  - override interaction: anytime
  - override state_constructor: anytime_multi_trace
  - _self_

offline_data:
  load_from : csv # alternatively, use "transition"
  output_path : offline_data/delayed_saturation

data_loader:
  offline_data_path : offline_data/delayed_saturation/csv
  train_filenames: ["action_schedule_poor_coverage.csv"]
  test_filenames: ["gac_data.csv"]
  skip_rows : 0
  header : 0
  df_col_names : ["Blank", "saturation", "action", "Date"]
# "gac_data.csv", "random_data.csv", "action_schedule_poor_coverage.csv", "action_schedule_good_coverage.csv"

experiment :
  exp_name : "Long_Action_Duration_Schedule_Good_Coverage"
  device : cpu
  max_steps : 10000
  offline_steps : 10000
  load_env_obs_space_from_data : False
  gamma : 0.95
  train_split : 0.995
  plot_split : 0.95
  test_epochs : [0, 1, 5, 10, 100, 999, 1999, 4999, 9999, 19999]
  offline_stat_keys : []
  online_stat_keys : []
  set_env_obs_space : False
  timeout: 0

interaction :
  obs_length: 1
  only_dp_transitions : False
  steps_per_decision: 7
  n_step : 0
  action_normalizer:
    use_cfg_values : False

state_constructor:
  use_indicator : True
  representation : thermometer
  warmup : 700

# [[0.05], [0.05], [0.1], [0.1], [0.15], [0.15], [0.2], [0.2], [0.25], [0.25], [0.3], [0.3], [0.25], [0.25], [0.2], [0.2], [0.15], [0.15], [0.1], [0.1], [0.05], [0.05], [0.0], [0.0], [0.05], [0.1], [0.7], [0.75], [0.8], [0.85], [0.9], [0.95], [1.0], [0.95], [0.9], [0.85], [0.8], [0.75], [0.7], [0.65], [0.6], [0.55], [0.5], [0.1], [0.05], [0.0], [0.0], [0.0], [0.5], [0.05], [0.0], [0.0], [0.4], [0.0], [0.0], [0.25], [0.0], [0.0], [0.6], [0.45], [0.1], [0.15], [0.0], [0.05], [0.1], [0.1], [0.2], [0.2], [0.1], [0.15], [0.15], [0.1], [0.1], [0.25], [0.05], [0.2]]
# [[0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.2], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.6], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.05], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4], [0.4]]
# [[0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.8], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5], [0.5]]
# [[0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.1], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3], [0.3]]
agent:
  action_schedule : [[0.05], [0.05], [0.1], [0.1], [0.15], [0.15], [0.2], [0.2], [0.25], [0.25], [0.3], [0.3], [0.25], [0.25], [0.2], [0.2], [0.15], [0.15], [0.1], [0.1], [0.05], [0.05], [0.0], [0.0], [0.05], [0.1], [0.7], [0.75], [0.8], [0.85], [0.9], [0.95], [1.0], [0.95], [0.9], [0.85], [0.8], [0.75], [0.7], [0.65], [0.6], [0.55], [0.5], [0.1], [0.05], [0.0], [0.0], [0.0], [0.5], [0.05], [0.0], [0.0], [0.4], [0.0], [0.0], [0.25], [0.0], [0.0], [0.6], [0.45], [0.1], [0.15], [0.0], [0.05], [0.1], [0.1], [0.2], [0.2], [0.1], [0.15], [0.15], [0.1], [0.1], [0.25], [0.05], [0.2]]
  tau : 0
  rho : 0.05
  prop_rho_mult : 2.0
  ensemble_targets: False
  num_samples: 256
  uniform_proposal : False
  uniform_sampling_percentage: 0.5
  critic:
    polyak: 0.995
    critic_optimizer:
      lr : 0.0003
      weight_decay : 0.0
    critic_network:
      ensemble : 10
      bootstrap_reduct : min
      policy_reduct: max
      vmap : False
    buffer:
      batch_size : 512
  actor:
    actor_optimizer:
      lr : 0.001
  buffer:
      batch_size : 128
