defaults:
  - gym
  - env: env/saturation

use_alerts : True

experiment :
  exp_name : "delayed_saturation_debug"
  max_steps : 10000
  offline_steps : 0
  set_env_obs_space : False
  timeout: 0
  cm_eval_freq: 100

agent:
  name: greedy_ac
  tau : 0
  rho : 0.05
  num_samples: 100
  seed: ${experiment.seed}
  gamma: ${experiment.gamma}
  discrete_control: ${env.discrete_control}

  critic:
    polyak: 0.995
    critic_optimizer:
      lr : 0.0003
      weight_decay : 0.0
    buffer:
      seed: ${experiment.seed}

  actor:
    actor_optimizer:
      lr : 0.0005
    buffer:
      seed: ${experiment.seed}

pipeline:
  state_constructor:
    defaults: []

  transition_creator:
    name: anytime
    gamma: ${experiment.gamma}

  tags:
  # meta tags
  - name: reward
    tag_type: meta
    outlier:
      name: identity

  - name: terminated
    tag_type: meta
    outlier:
      name: identity

  - name: truncated
    tag_type: meta
    outlier:
      name: identity
    state_constructor:
    - name: 'null'

  # observations
  - name: tag-1
    tag_type: observation
    outlier:
      name: identity
    state_constructor:
    - name: multi_trace
      trace_values: [0.95]

  # actions
  - name: action
    tag_type: action
    outlier:
      name: identity
    state_constructor:
    - name: normalize
      min: -2
      max: 2
      from_data: False
