log_path: outputs/bess2_agent_logs
agent_name: bess2
seed: 1
is_simulation: False

feature_flags:
  higher_critic_lr: False
  nominal_setpoint_bias: False
  autoencoder_imputer: False
  regenerative_optimism: False # sort_noise = 0.025, action_regularization = 0.001
  normalize_return: False
  recency_bias_buffer: False

offline:
  offline_steps: 2001
  offline_eval_iters: [0, 1, 10, 100, 500, 1000, 2000, 5000]
  offline_start_time: 2023-03-01 00:00
  offline_end_time: 2024-07-31 23:45
  pipeline_batch_duration: 100 days

infra:
  db: # Can be the same for BESS1 and BESS2
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: "password"
    ip: "localhost"
    port: 5432
    db_name: "bess2"

event_bus:
  enabled: True
  cli_connection: "tcp://localhost:5556"
  app_connection: "inproc://corerl_app"

metrics:
  enabled: True
  table_name: bess2_metrics

evals:
  enabled: True
  table_name: bess2_evals

coreio:
  coreio_origin: "tcp://localhost:5560"
  opc_connections:
    - connection_id: solar_matrikon
      opc_conn_url: "opc.tcp://localhost:62542"
      application_uri: "client"
      security_policy:
        policy: none
        mode: none
      authentication_mode: anonymous

env:
  name: dep_async_env
  db:
    table_name: sensors

interaction:
  name: dep_interaction
  restore_checkpoint: False
  obs_period: 00:05:00
  action_period: 00:05:00
  state_age_tol: 00:05:00
  update_period: 00:00:30
  warmup_period: 06:00:00
  update_warmup: 200 # number of updates before interacting. 10 critic updates per "update"
  # Memory issues if batch size > 100,000
  historical_batch_size: 50000
  # historical_windows:
  heartbeat:
    connection_id: solar_matrikon
    heartbeat_node_id: "ns=3;i=1"
    heartbeat_period: 00:00:05
    max_counter: 1000

agent:
  name: greedy_ac
  gamma: 0.99

  critic:
    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble_probability: 1
      id: critic # for metric logging

  policy:
    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble_probability: 1
      id: actor # for metric logging

pipeline:
  delta:
    delta_cfg:
      time_thresh: 00:15:00

  imputer:
    name: per-tag
    default:
      name: copy
      imputation_horizon: 12 # 1 hour / 5 minute obs_period

  # No countdown because doing Regular RL
  state_constructor:
    defaults:
      - name: multi_trace
        trace_values: [0.0, 0.75, 0.95, 0.99]
        missing_tol: 1.0

  transition_creator:
    name: all-the-time
    min_n_step: 1
    max_n_step: 1

  transition_filter:
    filters:
      - "only_pre_dp_or_ac"
      - "only_post_dp"
      - "no_nan"
      - "only_no_action_change"

  reward:
    priorities:
      # optimization: maximize profit
      - tags: [PROFIT]
        directions: max
        weights: [1.0]

  tags:
    # Actions
    # BESS 2
    # Want this always to be set to true
#    - name: SCADA1.ELS_SLR_BESS2_GRID_MODE_CMD.A_CV # BESS 2 Enable Charging From Grid (Write)
#      dtype: 'bool'
#      type: ai_setpoint
#      connection_id: solar_matrikon
#      # node_identifier:
#      operating_range: [ 0.0, 1.0 ]
#      state_constructor:
#        - name: "nuke"
#      # cascade: Need Epcor to make a 'mode' tag to be able to use cascade

    - name: SCADA1.ELS_SLR_BESS2_SOC_SP.F_CV # BESS 2 SOC Setpoint (Write)
      type: ai_setpoint
      connection_id: solar_matrikon
      # node_identifier:
      operating_range: [20.0, 80.0]
      guardrail_schedule: # Disable during offline training
        starting_range: [ 45.0, 55.0 ] # Hitachi recommends a nominal setpoint of 50.0%
        duration: 7 days
      state_constructor:
        - name: "nuke"
      # cascade: Need Epcor to make a 'mode' tag to be able to use cascade

    # Want this always to be set to true/false
#    - name: SCADA1.ELS_SLR_BESS2_DIS_CTRL_CMD.A_CV # BESS 2 Enable/Disable Discharge Rate Control (Write)
#      dtype: 'bool'
#      type: ai_setpoint
#      connection_id: solar_matrikon
#      # node_identifier:
#      operating_range: [ 0.0, 1.0 ]
#      state_constructor:
#        - name: "nuke"
#      # cascade: Need Epcor to make a 'mode' tag to be able to use cascade

    - name: SCADA1.ELS_SLR_BESS2_DIS_RATE_KW_SP.F_CV # BESS 2 Discharge Rate Setpoint (Write)
      type: ai_setpoint
      connection_id: solar_matrikon
      # node_identifier:
      operating_range: [ 0.0, 2000.0 ]
      guardrail_schedule: # Disable during offline training
        starting_range: [ 150.0, 250.0 ] # Nominal setpoint is 200.0
        duration: 7 days
      state_constructor:
        - name: "nuke"
      # cascade: Need Epcor to make a 'mode' tag to be able to use cascade

    # Observations
    # BESS 2
    - name: SCADA1.ELS_SLR_PS1000_2A_AVAIL.A_CV # BESS 2A availability
      dtype: 'bool'
      operating_range: [0.0, 1.0]
      agg: last

    - name: SCADA1.ELS_SLR_PS1000_2B_AVAIL.A_CV # BESS 2B availability
      dtype: 'bool'
      operating_range: [0.0, 1.0]
      agg: last

    - name: SCADA1.ELS_SLR_BESS2_SOC_SP_LGC.F_CV # BESS 2 SOC Setpoint (Read)
      operating_range: [20.0, 80.0]
      agg: last

    - name: SCADA1.ELS_SLR_BESS2_SOC.F_CV # BESS 2 SOC
      operating_range: [0.0, 100.0]

    - name: SCADA1.ELS_SLR_PS1000_2A_SOC.F_CV # BESS 2A SOC
      operating_range: [0.0, 100.0]

    - name: SCADA1.ELS_SLR_PS1000_2B_SOC.F_CV # BESS 2B SOC
      operating_range: [0.0, 100.0]

    - name: SCADA1.ELS_SLR_BESS2_GRID_MODE_STAT.A_CV # BESS 2 Charging From Grid Enabled (Read)
      dtype: 'bool'
      operating_range: [0.0, 1.0]
      agg: last

    - name: SCADA1.ELS_SLR_BESS2_ENG_OUT_TOT.F_CV # BESS 2 Running Total Energy Discharged
      type: delta
      # Max discharge rate is 2MW
      operating_range: [0.0, 0.1667] # 2MW * (5 minute obs_period / 60 minutes/hour) = 0.1667 MWh

    - name: SCADA1.ELS_SLR_BESS2_ENG_IN_TOT.F_CV # BESS 2 Running Total Energy Charged
      type: delta
      # Max charging rate is 2MW
      operating_range: [0.0, 0.1667] # 2MW * (5 minute obs_period / 60 minutes/hour) = 0.1667 MWh

    - name: SCADA1.ELS_SLR_BESS2_KW.F_CV # BESS 2 Power Charged/Discharged
      operating_range: [ -2100.0, 2100.0 ]

    - name: SCADA1.ELS_SLR_BESS2_KVAR.F_CV # BESS 2 Reactive Power Injected/Consumed
      expected_range: [ -600.0, 1500.0 ] # From data + Kevin's feedback

    - name: SCADA1.ELS_SLR_BESS2_DIS_CTRL_STAT.A_CV # BESS 2 Enable/Disable Discharge Rate Control (Read)
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: SCADA1.ELS_SLR_BESS2_DIS_RATE_KW_SP_LGC.F_CV # BESS 2 Discharge Rate (Read)
      operating_range: [ 0.0, 2000.0 ]
      agg: last

    # WTP 2
    - name: SCADA1.ELS_SLR_WTP2_KW.F_CV # WTP 2 Power Consumed
      operating_range: [ -10.0, null ] # Kevin says the demand can exceed 20,000kw but no clear upper bound
      expected_range: [ -10.0, 10000.0 ] # Peak power threshold is 8800kw averaged over 15 minute window but instantaneous readings can go higher

    - name: SCADA1.ELS_SLR_WTP2_KVAR.F_CV # WTP 2 Reactive Power Consumed
      expected_range: [ -100.0, 3200.0 ] # Based off data + Kevin's feedback

    - name: SCADA1.ELS_SLR_WTP2_ENG_IN_TOT.F_CV # WTP 2 Running Total Energy Consumed
      type: delta
      # Kevin says max power draw is roughly 20MW
      operating_range: [0.0, 2.0] # 20MW * (5 minute obs_period / 60 minutes/hour) = 1.67 MWh

    # WTP Loads
    - name: ELS_HLP_P001_MS # Major Load 1 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: ELS_HLP_P002_MS # Major Load 2 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: ELS_HLP_P003_MS # Major Load 3 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: ELS_HLP_P004_MS # Major Load 4 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: EL_LLP_P1_MS_STAT # Light Load 1 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: EL_LLP_P2_MS_STAT # Light Load 2 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: EL_LLP_P3_MS_STAT # Light Load 3 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: EL_LLP_P4_MS_STAT # Light Load 4 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: EL_LLP_P5_MS_STAT # Light Load 5 Run Status
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    # SOLAR 2
    - name: SCADA1.ELS_SLR_SOLAR2_KW.F_CV # SOLAR 2 Power Produced
      operating_range: [-50.0, 7200.0] # Max amount of power that can pass through inverters

    - name: SCADA1.ELS_SLR_SOLAR2_KVAR.F_CV # SOLAR 2 Power Injected/Consumed
      expected_range: [ -500.0, 3250.0 ] # From data

    - name: SCADA1.ELS_SLR_SOLAR2_ENG_OUT_TOT.F_CV # SOLAR 2 Running Total Energy Generated
      type: delta
      # Solar power generation capped at 7.2MW
      operating_range: [0.0, 0.6] # 7.2MW * (5 minute obs_period / 60 minutes/hour) = 0.6MWh

    - name: SCADA1.ELS_SLR_INV2_AVAIL.A_CV # SOLAR 2 Inverter 2 Enabled/Disabled
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: SCADA1.ELS_SLR_INV4_AVAIL.A_CV # SOLAR 2 Inverter 4 Enabled/Disabled
      dtype: 'bool'
      operating_range: [ 0.0, 1.0 ]
      agg: last

    - name: SCADA1.ELS_SLR_SOLAR2_LIMIT_LGC.F_CV # SOLAR 2 Inverter Limit
      operating_range: [ 0.0, 100.0 ]

    # P12
    - name: SCADA1.ELS_SLR_ELSP12_KW.F_CV # P12 Power Imported/Exported
      operating_range: [ null, 5000.0 ] # Hitachi controller limits export to 4.85MW. No import limit but don't want to violate peak power constraint
      expected_range: [ -20000.0, 5000.0 ] # Lower bound is based on Kevin's feedback
      yellow_bounds: [null, 4700.0] # Discourage curtailment

    - name: SCADA1.ELS_SLR_ELSP12_KVAR.F_CV # P12 Reactive Power Injected/Consumed
      expected_range: [ -3100.0, 3100.0 ] # From data

    - name: SCADA1.ELS_SLR_ELSP12_ENG_IN_TOT.F_CV # P12 Running Total Energy Imported
      type: delta
      # Peak power constraint is 8.8MW
      operating_range: [0.0, 1.0] # 8.8MW * (5 minute obs_period / 60 minutes/hour) = 0.7334 MWh. Set to 1 for buffer
      expected_range: [0.0, 1.0] # 8.8MW * (5 minute obs_period / 60 minutes/hour) = 0.7334 MWh. Set to 1 for buffer
      # Peak Power Constraint
      yellow_bounds:
        - null
        - '0.95 * (({SCADA1.ELS_SLR_ELSP12_POWER_PEAK_SP_LGC.F_CV} / 1000) * 5 / 60)'
      red_bounds:
        - null
        - '({SCADA1.ELS_SLR_ELSP12_POWER_PEAK_SP_LGC.F_CV} / 1000) * 5 / 60'
      red_zone_reaction: # Disable during offline training
        - tag: SCADA1.ELS_SLR_BESS2_SOC_SP.F_CV
          kind: upper_violation
          bounds: [ 20.0, 21.0 ]
        - tag: SCADA1.ELS_SLR_BESS2_DIS_RATE_KW_SP.F_CV
          kind: upper_violation
          bounds: [ 1999.0, 2000.0 ]

    - name: SCADA1.ELS_SLR_ELSP12_ENG_OUT_TOT.F_CV # P12 Running Total Energy Exported
      type: delta
      operating_range: [0.0, 0.5] # Exports sometimes exceed 4.85MW limit

    - name: SCADA1.ELS_SLR_ELSP12_MAJORITY_LGC.F_CV # P12 % Of SOLAR 1 Generated Power Used On-Site In Given Year
      operating_range: [ 0.0, 100.0 ]

    - name: SCADA1.ELS_SLR_ELSP12_POWER_PEAK_SP_LGC.F_CV # P12 Peak Shaving Setpoint
      operating_range: [ 0.0, null ]
      expected_range: [ 0.0, 7920.0 ] # 90% of 8800kw
      agg: last

    # Environmental Factors
    - name: ELS_SITE_MET_POA # Solar Irradiance On Solar Panels
      operating_range: [0.0, null]
      expected_range: [ 0.0, 1200.0 ]

    - name: ELS_SITE_MET_BOP_TEMP # Solar Panel Temperature
      expected_range: [-50.0, 70.0]

    - name: ELS_SITE_MET_OUT_TEMP # Air Temperature
      expected_range: [-50.0, 50.0]

    # Costs
    - name: SCADA1.ELS_SLR_ENG_IMPORT_COST_SP.F_CV # Negotiated Cost EPCOR Pays For Importing Energy From The Grid ($/MWh)
      agg: last
      expected_range: [0.0, 100.0]

    - name: SCADA1.ELS_SLR_ENG_EXPORT_FEE_SP.F_CV # Trading Cost For Exporting Energy Back To Grid ($/MWh)
      agg: last
      expected_range: [0.0, 1.0]

    - name: SCADA1.ELS_SLR_ENG_BATT_COST_SP.F_CV # BESS Battery Degradation Cost ($/MWh)
      agg: last
      expected_range: [0.0, 100.0]

    # AESO Price/Load Forecasts
    - name: Current_AIL # Current Alberta Internal Load
      operating_range: [0.0, null]
      expected_range: [6000.0, 15000.0]
      agg: last

    - name: Forecast_AIL_1 # Alberta Internal Load Forecast Next Hour
      operating_range: [ 0.0, null ]
      expected_range: [6000.0, 15000.0]
      agg: last

    - name: Forecast_AIL_2 # Alberta Internal Load Forecast In 2 Hours
      operating_range: [ 0.0, null ]
      expected_range: [6000.0, 15000.0]
      agg: last

    - name: Forecast_AIL_3 # Alberta Internal Load Forecast In 3 Hours
      operating_range: [ 0.0, null ]
      expected_range: [6000.0, 15000.0]
      agg: last

    - name: Actual_Posted_Pool_Price # Current Pool Price
      expected_range: [-500.0, 3000.0]
      agg: last

    - name: Forecast_Pool_Price_1 # Pool Price Forecast Next Hour
      expected_range: [-500.0, 3000.0]
      agg: last

    - name: Forecast_Pool_Price_2 # Pool Price Forecast In 2 Hours
      expected_range: [-500.0, 3000.0]
      agg: last

    - name: Forecast_Pool_Price_3 # Pool Price Forecast In 3 Hours
      expected_range: [-500.0, 3000.0]
      agg: last

    # Seasonal Tags
    - name: day_of_year
      type: seasonal
    - name: day_of_week
      type: seasonal
    - name: time_of_day
      type: seasonal

    # Virtual Sensors
    - name: P12_MAJORITY_ON_SITE_CONSUMPTION_CONSTRAINT # (1 - SCADA1.ELS_SLR_ELSP12_MAJORITY_LGC.F_CV) * Sigmoid
      is_computed: True
      # Since sigmoid starts small, we want a constraint that's violated when it gets too large
      # So we use 1 - SCADA1.ELS_SLR_ELSP12_MAJORITY_LGC.F_CV to represent % of generated energy sold back to the grid
      value: '(100 - {SCADA1.ELS_SLR_ELSP12_MAJORITY_LGC.F_CV}) * (1 / (1 + 2.71828**(-1*(({day_of_year} - 250) / 20))))'
      operating_range: [ 0.0, 100.0 ]
      yellow_bounds: [ null, 48.0 ]
      red_bounds: [ null, 49.8 ] # Set at 49.8% to give small buffer on constraint
      red_zone_reaction: # Disable during offline training
        - tag: SCADA1.ELS_SLR_BESS2_SOC_SP.F_CV
          kind: upper_violation
          bounds: [ 79.0, 80.0 ]
        - tag: SCADA1.ELS_SLR_BESS2_DIS_RATE_KW_SP.F_CV
          kind: upper_violation
          bounds: [ 0.0, 1.0 ]

    - name: BESS_DEGRADATION_COST
      is_computed: True
      value: '{SCADA1.ELS_SLR_ENG_BATT_COST_SP.F_CV} * ({SCADA1.ELS_SLR_BESS2_ENG_IN_TOT.F_CV} + {SCADA1.ELS_SLR_BESS2_ENG_OUT_TOT.F_CV})'
      operating_range: [ 0.0, null ]
      expected_range: [ 0.0, 16.67 ] # Using SCADA1.ELS_SLR_BESS2_ENG_IN_TOT.F_CV operating_range of [0.0, 0.1667] and assuming max degradation cost of $100/MWh

    - name: ENERGY_COST
      is_computed: True
      value: '{SCADA1.ELS_SLR_ENG_IMPORT_COST_SP.F_CV} * {SCADA1.ELS_SLR_ELSP12_ENG_IN_TOT.F_CV}'
      operating_range: [ 0.0, 100.0 ]

    - name: ENERGY_SOLD
      is_computed: True
      value: '({Actual_Posted_Pool_Price} - {SCADA1.ELS_SLR_ENG_EXPORT_FEE_SP.F_CV}) * {SCADA1.ELS_SLR_ELSP12_ENG_OUT_TOT.F_CV}'
      # Max Pool Price is currently $3000/MWh * 4.85MW Max Power Export * 1 substation * (5 / 60) hours = $1212.5
      # Min Pool Price is currently $-500/MWh * 4.85MW Max Power Export * 1 substation * (5 / 60) hours = $-202.085
      operating_range: [ -202.085, 1212.5 ]

    - name: PROFIT
      is_computed: True
      value: '{ENERGY_SOLD} - {ENERGY_COST} - {BESS_DEGRADATION_COST}'
      operating_range: [ -318.755, 1212.5 ]