version: 1
formatters:
  simple:
    format: '[%(levelname)s] - %(message)s'
handlers:
  file:
    class: logging.FileHandler
    formatter: simple
    filename: ${hydra.run.dir}/param_${experiment.param}.log
root:
  handlers: [file]

disable_existing_loggers: false