log_path: "outputs/scrubber_agent_logs"

infra:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: scrubber4data
    ip: "localhost"
    port: 5432
    db_name: "postgres"

agent_name: epcor_scrubber
seed: 1
is_simulation: False

interaction:
  name: dep_interaction
  restore_checkpoint: False
  obs_period: 00:05:00
  update_period: 00:00:30
  action_period: 01:00:00
  warmup_period: 03:00:00
  state_age_tol: 00:15:00
  update_warmup: 500 # number of updates before interacting
  historical_batch_size: 51840 # 180 days @ 5 minute obs period
  historical_windows:
  - [2025-05-06 00:00:00+0000, null]
  heartbeat:
    connection_id: matrikon
    heartbeat_node_id: "ns=3;i=1"
    heartbeat_period: 00:00:05
    max_counter: 1000

event_bus:
  enabled: True
  cli_connection: "tcp://localhost:5556"

coreio:
  coreio_origin: "tcp://localhost:5559"
  opc_connections:
    - connection_id: matrikon
      opc_conn_url: "opc.tcp://localhost:62000"
      application_uri: "urn:agent"
      security_policy:
        policy: basic256_sha256
        mode: sign_and_encrypt
        client_cert_path: "../certs/coreio_cert.der"
        client_key_path: "../certs/coreio_key.pem"
        server_cert_path: "../certs/databroker_cert.der"
      authentication_mode:
        username: "admin"
        password: "scrubber4matrikon"

env:
  name: dep_async_env
  db:
    table_name: scrubber4_tz

agent:
  name: greedy_ac
  gamma: 0.9727 # ~50% of return occurs after 2 hrs (@ 5 min obs period)

  critic:
    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble: 1
      ensemble_probability: 1
      id: critic # for metric logging

  policy:
    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble: 1
      ensemble_probability: 1
      id: actor # for metric logging


metrics:
  enabled: True
evals:
  enabled: True


pipeline:
  reward:
    priorities:
      # priority 1: (efficiency > 90%) OR (outlet_h2s < 1000 ppb)
      - op: or
        goals:
          - op: down_to
            tag: AI0879B
            thresh: 1000
          - op: up_to
            tag: AI0879C
            thresh: '{ARC0879C_OUT}'

      # optimization: min chem cost
      - tags: [AIC3730_OUT, AIC3731_OUT]
        directions: min
        weights: [0.5455, 1.355]

  imputer:
    name: per-tag
    default:
      name: copy
      imputation_horizon: 2

  state_constructor:
    defaults:
      - name: multi_trace
        trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours

  transition_creator:
    name: all-the-time
    # n_step should be 12, give some buffer
    min_n_step: 11
    max_n_step: 13

  transition_filter:
    filters:
    - "only_pre_dp_or_ac"
    - "only_post_dp"
    - "no_nan"
    - "only_no_action_change"

  tags:
  - name: DEP_AIC3730_SP # pH SP
    type: ai_setpoint
    connection_id: matrikon
    node_identifier: "ns=3;i=14"
    operating_range: [9.4, 10.]
    action_bounds: ['{DEP_AIC3730_SP} - 0.2', '{DEP_AIC3730_SP} + 0.2']
    agg: last
    cascade:
      mode: AIC3730_MODE
      op_sp: AIC3730_SP
      ai_sp: AIC3730_SPRL
      op_mode_val: 16
      ai_mode_val: 32

  - name: DEP_AIC3731_SP # ORP SP
    type: ai_setpoint
    connection_id: matrikon
    node_identifier: "ns=3;i=15"
    operating_range: [650., 700.]
    action_bounds: ['{DEP_AIC3731_SP} - 10', '{DEP_AIC3731_SP} + 10']
    agg: last
    cascade:
      mode: AIC3731_MODE
      op_sp: AIC3731_SP
      ai_sp: AIC3731_SPRL
      op_mode_val: 16
      ai_mode_val: 32

  - name: DEP_FIC3734_SP # flow SP
    type: ai_setpoint
    connection_id: matrikon
    node_identifier: "ns=3;i=17"
    operating_range: [15., 30.]
    action_bounds: ['{DEP_FIC3734_SP} - 5', '{DEP_FIC3734_SP} + 5']
    agg: last
    cascade:
      mode: FIC3734_MODE
      op_sp: FIC3734_SP
      ai_sp: FIC3734_SPRL
      op_mode_val: 16
      ai_mode_val: 32

  - name: AIC3730_PV # pH process value
    operating_range: [0., 14.]
    expected_range: [9.4, 10]

  - name: AIC3731_PV # ORP process value
    operating_range: [0., 800.]
    expected_range: [650, 700]

  - name: FIC3734_PV # flow rate PV
    operating_range: [0, 100]
    expected_range: [15, 30]

  - name: FIC3734_OUT # flow rate controller output
    operating_range: [0, 100]
    expected_range: [40, 60]

  - name: LI3734 # scrubber tower sump level
    operating_range: [0, 700]
    expected_range: [530, 550]

  - name: FI0872 # scrubber recirc flow
    operating_range: [0, 2300]
    expected_range: [1900, 2100]

  - name: AI0879A # H2S inlet
    operating_range: [0., 100]
    expected_range: [5, 60]

  - name: PDIC3738_PV # PDIC-3738 (PID Process Value)
    operating_range: [-0.1, 3]
    expected_range: [1, 2.5]

  - name: PDIC3738_OUT # PDIC-3738 (PID Output)
    operating_range: [0, 100]
    expected_range: [45, 50]

  - name: PI0169 # blower discharge pressure
    operating_range: [-0.1, 3]
    expected_range: [1, 2]

  - name: TI0880 # scrubber inlet temp
    operating_range: [0, 75]
    expected_range: [0, 30]

  - name: AI0897B # scrubber softened water conductivity
    operating_range: [0, 30]
    expected_range: [5, 20]

  - name: AIC3730_OUT # pH pump output
    operating_range: [0, 125]
    red_bounds: [null, 60]

  - name: AIC3731_OUT # ORP pump output
    operating_range: [0, 125]
    red_bounds: [null, 60]

  - name: AI0879B # H2S outlet
    operating_range: [0., 30000]
    expected_range: [0, 5000]

  - name: AI0879C # H2S efficiency
    operating_range: [0., 100.]
    expected_range: [80, 100]

  - name: ARC0879C_OUT
    operating_range: [0., 100.]
    expected_range: [80, 95]
