log_path: "outputs/scrubber_agent_logs"

infra:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: scrubber4data
    ip: "localhost"
    port: 5432
    db_name: "postgres"

agent_name: epcor_scrubber
seed: 1
is_simulation: False

feature_flags:
  action_bounds: True

interaction:
  name: dep_interaction
  restore_checkpoint: False
  obs_period: 00:05:00
  update_period: 00:00:30
  action_period: 01:00:00
  warmup_period: 03:00:00
  state_age_tol: 00:15:00
  update_warmup: 300 # number of updates before interacting
  historical_batch_size: 51840 # 180 days @ 5 minute obs period
  hist_chunk_start: 2024-10-09 00:00:00+0000 # YYYY-MM-DD hh:mm:ss
  heartbeat:
    connection_id: 30e85ea3-36d6-4633-ad66-30c8d4778fdc
    heartbeat_node_id: "ns=3;i=1"
    heartbeat_period: 00:00:05
    max_counter: 1000

event_bus:
  enabled: True

env:
  name: dep_async_env
  coreio_origin: http://localhost:2222

  # opc_conn_url: "opc.tcp://admin:admin@localhost:62000" # f"opc.tcp://{self.ip_address}:{self.port}"
  # opc_ns: 3
  # client_cert_path: certs/agent_cert.der
  # client_private_key_path: certs/agent_key.pem
  # server_cert_path: certs/application_rsa_sha256_9DC14599CE158BB8E063798EDC3744A80CE560B4.der
  # application_uri: urn:agent

  db:
    table_name: scrubber4_tz

agent:
  name: greedy_ac
  gamma: 0.9727 # ~50% of return occurs after 2 hrs (@ 5 min obs period)

  critic:
    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble: 1
      ensemble_probability: 1
      id: critic # for metric logging

  policy:
    optimizer:
      lr: 0.001

    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble: 1
      ensemble_probability: 1
      id: actor # for metric logging


metrics:
  enabled: True

evals:
  enabled: True

eval_cfgs:
  monte_carlo:
    enabled: True

pipeline:
  reward:
    priorities:
      # priority 1: (efficiency > 90%) OR (outlet_h2s < 1000 ppb)
      - op: or
        goals:
          - op: down_to
            tag: AI0879B
            thresh: 1000
          - op: up_to
            tag: AI0879C
            thresh: 90

      # optimization: min chem cost
      - tags: [AIC3730_OUT, AIC3731_OUT]
        directions: min
        weights: [0.5455, 1.355]

  imputer:
    name: per-tag
    default:
      name: copy
      imputation_horizon: 2

  state_constructor:
    defaults:
      - name: multi_trace
        trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours

  transition_creator:
    name: all-the-time
    # n_step should be 12, give some buffer
    min_n_step: 11
    max_n_step: 13

  transition_filter:
    filters:
    - "only_pre_dp_or_ac"
    - "only_post_dp"
    - "no_nan"
    - "only_no_action_change"

  tags:
  - name: AIC3730_SP # pH SP
    # node_identifier: 14
    type: ai_setpoint
    connection_id: 30e85ea3-36d6-4633-ad66-30c8d4778fdc
    node_identifier: "ns=3;i=14"
    operating_range: [9.4, 10.]
    agg: last

  - name: AIC3731_SP # ORP SP
    # node_identifier: 15
    type: ai_setpoint
    connection_id: 30e85ea3-36d6-4633-ad66-30c8d4778fdc
    node_identifier: "ns=3;i=15"
    operating_range: [650., 700.]
    agg: last

  - name: FIC3734_SP # flow SP
    # node_identifier: 17
    type: ai_setpoint
    connection_id: 30e85ea3-36d6-4633-ad66-30c8d4778fdc
    node_identifier: "ns=3;i=17"
    operating_range: [15., 30.]
    agg: last

  - name: AIC3730_PV # pH process value
    operating_range: [0., 14.]
    preprocess:
      - name: normalize
        min: 9.4
        max: 10.
        from_data: False

  - name: AIC3731_PV # ORP process value
    operating_range: [0., 800.]
    preprocess:
      - name: normalize
        min: 650.
        max: 700.
        from_data: False

  - name: FIC3734_PV # flow rate PV
    operating_range: [0, 100]
    preprocess:
      - name: normalize
        min: 15
        max: 30
        from_data: False

  - name: FIC3734_OUT # flow rate controller output
    operating_range: [0, 100]
    preprocess:
      - name: normalize
        min: 40
        max: 60
        from_data: False

  - name: LI3734 # scrubber tower sump level
    operating_range: [500, 700]
    preprocess:
      - name: normalize
        min: 585
        max: 595
        from_data: False

  - name: FI0872 # scrubber recirc flow
    operating_range: [0, 2300]
    preprocess:
      - name: normalize
        min: 1900
        max: 2100
        from_data: False

  - name: AI0879A # H2S inlet
    operating_range: [0., 100]
    preprocess:
      - name: normalize
        min: 5.
        max: 60
        from_data: False

  - name: PDIC3738_PV # PDIC-3738 (PID Process Value)
    operating_range: [-0.1, 3]
    preprocess:
      - name: normalize
        min: 1.0
        max: 2.5
        from_data: False

  - name: PDIC3738_OUT # PDIC-3738 (PID Output)
    operating_range: [0, 100]
    preprocess:
      - name: normalize
        min: 45
        max: 50
        from_data: False

  - name: PI0169 # blower discharge pressure
    operating_range: [-0.1, 1]
    preprocess:
      - name: normalize
        min: 0.3
        max: 0.5
        from_data: False

  - name: TI0880 # scrubber inlet temp
    operating_range: [0, 75]
    preprocess:
      - name: normalize
        min: 0.
        max: 30.
        from_data: False

  - name: AI0897B # scrubber softened water conductivity
    operating_range: [0, 30]
    preprocess:
      - name: normalize
        min: 5.
        max: 20.
        from_data: False

  - name: AIC3730_OUT # pH pump output
    operating_range: [0, 125]
    red_bounds: [null, 60]

  - name: AIC3731_OUT # ORP pump output
    operating_range: [0, 125]
    red_bounds: [null, 60]

  - name: AI0879B # H2S outlet
    operating_range: [0., 30000]
    preprocess:
      - name: normalize
        min: 0.
        max: 5000.
        from_data: False

  - name: AI0879C # H2S efficiency
    operating_range: [0., 100.]
    preprocess:
      - name: normalize
        min: 85.
        max: 100.
        from_data: False
