log_path: "outputs/scrubber_agent_logs"

infra:
  db:
    drivername: "postgresql+psycopg2"
    username: "postgres"
    password: password
    ip: "localhost"
    port: 5432
    db_name: "postgres"

experiment:
  exp_name: epcor_scrubber
  save_path: outputs/scrubber_evals
  seed: 1
  gamma: 0.944 # ~50% of return occurs after 1 hrs (@ 5 min obs period)
  is_simulation: False

feature_flags:
  delta_actions: True

interaction:
  name: dep_interaction
  restore_checkpoint: False
  obs_period: 00:05:00
  action_period: 01:00:00
  warmup_period: 03:00:00
  historical_batch_size: 25920 # 90 days @ 5 minute obs period
  hist_chunk_start: 2024-10-09 00:00:00+0000 # YYYY-MM-DD hh:mm:ss
  heartbeat:
    heartbeat_node_id: "ns=3;i=1"
    heartbeat_period: 00:00:05
    max_counter: 1000

event_bus:
  enabled: True

env:
  name: dep_async_env
  update_period: 00:00:30
  action_tolerance: 00:15:00
  setpoint_ping_period: 00:00:10
  seed: ${experiment.seed}

  # opc_conn_url: "opc.tcp://admin@0.0.0.0:4840/rlcore/server/"

  db:
    table_name: scrubber4_tz

agent:
  name: greedy_ac

  critic:
    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble: 1
      ensemble_probability: 1
      id: critic # for metric logging

  actor:
    actor_optimizer:
      lr: 0.001

    buffer:
      name: mixed_history_buffer
      n_most_recent: 24
      ensemble: 1
      ensemble_probability: 1
      id: actor # for metric logging


metrics:
  enabled: True

evals:
  enabled: True

eval_cfgs:
  actor_critic:
    enabled: False
  monte_carlo:
    enabled: True

pipeline:
  imputer:
    name: per-tag
    default:
      name: copy
      imputation_horizon: 2

  state_constructor:
    countdown:
      kind: int
    defaults:
      - name: multi_trace
        trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours

  transition_creator:
    name: all-the-time
    gamma: ${experiment.gamma}
    # n_step should be 12, give some buffer
    min_n_step: 11
    max_n_step: 13

  transition_filter:
    filters:
    - "only_pre_dp_or_ac"
    - "only_post_dp"
    - "no_nan"
    - "only_no_action_change"

  tags:
  - name: AIC3730_SP # pH SP
    node_identifier: "ns=2;i=14"
    operating_range: [9.4, 10.]
    change_bounds: [-.33, .33] # +/- 0.2 pH
    agg: last

  - name: AIC3731_SP # ORP SP
    node_identifier: "ns=2;i=15"
    operating_range: [650., 700.]
    change_bounds: [-.2, .2] # +/- 10 mV
    agg: last

  - name: FIC3734_SP # flow SP
    node_identifier: "ns=2;i=17"
    operating_range: [15., 30.]
    change_bounds: [-.33, .33] # +/- 5
    agg: last

  - name: AIC3730_PV # pH process value
    operating_range: [0., 14.]
    red_bounds: [9.4, 10.]

  - name: AIC3731_PV # ORP process value
    operating_range: [0., 800.]
    red_bounds: [650., 700.]

  - name: FIC3734_PV # flow rate PV
    operating_range: [0, 100]
    red_bounds: [15, 30]

  - name: FIC3734_OUT # flow rate controller output
    operating_range: [0, 100]
    red_bounds: [40, 60]

  - name: LI3734 # scrubber tower sump level
    operating_range: [500, 700]
    red_bounds: [585, 595]

  - name: FI0872 # scrubber recirc flow
    operating_range: [0, 2300]
    red_bounds: [1900, 2100]

  - name: AI0879A # H2S inlet
    operating_range: [0., 100]
    red_bounds: [5., 60]

  - name: PDIC3738_PV # PDIC-3738 (PID Process Value)
    operating_range: [0, 3]
    red_bounds: [2.3, 2.5]

  - name: PDIC3738_OUT # PDIC-3738 (PID Output)
    operating_range: [0, 100]
    red_bounds: [45, 50]

  - name: PI0169 # blower discharge pressure
    operating_range: [0, 1]
    red_bounds: [0.3, 0.5]

  - name: TI0880 # scrubber inlet temp
    operating_range: [0, 75]
    red_bounds: [0, 30]

  - name: AI0897B # scrubber softened water conductivity
    operating_range: [0, 30]
    red_bounds: [5, 20]

  - name: AIC3730_OUT # pH pump output
    preprocess: []
    operating_range: [0, 125]
    red_bounds: [0, 60]
    state_constructor:
    - name: normalize
      min: 0
      max: 60
    - name: multi_trace
      trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours
    reward_constructor: # generated programattically from test_epcor_reward
    - name: split
      left:
      - name: greater_than
        threshold: 60.0
        equal: false
      - name: scale
        factor: -1.0
      right:
      - name: scale
        factor: 0.5455
      - name: binary
        op: add
        other: AIC3731_OUT # orp_pumpspeed
        other_xform:
        - name: scale
          factor: 1.355
      - name: scale
        factor: -1.0
      - name: affine
        scale: 0.008769622
        bias: 1.0
      - name: affine
        scale: 0.5
        bias: -0.5
      - name: binary
        op: prod
        other: AI0879C # efficiency
        other_xform:
        - name: scale
          factor: -1.0
        - name: affine
          scale: 0.2
          bias: 18.0
        - name: binary
          op: min
          other: AI0879B # outlet_h2s
          other_xform:
          - name: affine
            scale: 0.00025 # manual increase precision
            bias: -0.25
        - name: less_than
          threshold: 0.0
          equal: true
      passthrough: false

  - name: AIC3731_OUT # ORP pump output
    preprocess: []
    operating_range: [0, 125]
    red_bounds: [0, 60]
    state_constructor:
    - name: normalize
      min: 0
      max: 60
    - name: multi_trace
      trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours
    reward_constructor:
    - name: greater_than
      threshold: 60.0
      equal: false
    - name: scale
      factor: -1.0

  - name: AI0879B # H2S outlet
    preprocess: []
    operating_range: [0., 30000]
    red_bounds: [0., 5000]
    state_constructor:
    - name: normalize
      min: 0
      max: 5000
    - name: multi_trace
      trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours

  - name: AI0879C # H2S efficiency
    preprocess: []
    operating_range: [0., 100.]
    red_bounds: [85., 100.]
    state_constructor:
    - name: normalize
      min: 85
      max: 100
    - name: multi_trace
      trace_values: [0., 0.944, 0.97] # half life 1 & 2 hours
    reward_constructor: # generated programattically from test_epcor_reward
    - name: scale
      factor: -1.0
    - name: affine
      scale: 0.2
      bias: 18.0
    - name: binary
      op: min
      other: AI0879B # outlet_h2s
      other_xform:
      - name: affine
        scale: 0.00025
        bias: -0.25
    - name: scale
      factor: -1.0
    - name: affine
      scale: 1.0
      bias: 1.0
    - name: affine
      scale: 0.5
      bias: -1.0
    - name: binary
      op: prod
      other: AI0879C # efficiency
      other_xform:
      - name: scale
        factor: -1.0
      - name: affine
        scale: 0.2
        bias: 18.0
      - name: binary
        op: min
        other: AI0879B # outlet_h2s
        other_xform:
        - name: affine
          scale: 0.00025
          bias: -0.25
      - name: greater_than
        threshold: 0.0
        equal: false
