# To build and push to GHCR locally, use:
# 
#  Pre-req:
#  - Follow these instructions to set up your personal access token (PAT) for GHCR:
#    https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry#authenticating-with-a-personal-access-token-classic
#
# 1. .github/workflows/scripts/build_preprod_artifacts.sh --dev --build-number <BUILD_NUMBER>
# 1a. double check the build number :) make sure not to override any existing artifacts 
# 2. source dist/artifacts.env 
# 3. echo "CORERL_ARTIFACT=$CORERL_ARTIFACT"
# 4. echo "COREIO_ARTIFACT=$COREIO_ARTIFACT"
# 5. build the docker image with:
#   docker build -f .github/workflows/scripts/Dockerfile.preprod \
#   --build-arg CORERL_ARTIFACT="$CORERL_ARTIFACT" \
#   --build-arg COREIO_ARTIFACT="$COREIO_ARTIFACT" \
#   -t ghcr.io/rlcoretech/corerl-preprod:BUILD_NUMBER .
# 5a. You can test the image locally with:
#   docker run -it --rm myimage:tag /bin/bash
# 6. push the image with:
#   docker push ghcr.io/rlcoretech/corerl-preprod:BUILD_NUMBER

name: Build Pre-Production Artifacts
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set build number
        id: build_number
        run: echo "BUILD_NUMBER=${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build Linux executables (dev)
        run: |
          .github/workflows/scripts/build_linux_executables.sh --dev --build-number "$BUILD_NUMBER"
      
      - name: Load artifact names
        run: |
          source dist/artifacts.env
          echo "CORERL_ARTIFACT=$CORERL_ARTIFACT" >> $GITHUB_ENV
          echo "COREIO_ARTIFACT=$COREIO_ARTIFACT" >> $GITHUB_ENV

      - name: Publish Docker image
        uses: ./.github/workflows/reusable-build-docker-image.yml
        with:
          push_to_registry: true
          image_name: "ghcr.io/rlcoretech"
          image_tags: |
            type=raw,value=latest
            type=raw,value="corerl-preprod-dev${{ env.BUILD_NUMBER }}""
          build_target: .github/workflows/scripts/Dockerfile.preprod
          build_args: |
            CORERL_ARTIFACT=${{ env.CORERL_ARTIFACT }}
            COREIO_ARTIFACT=${{ env.COREIO_ARTIFACT }}



