name: Build and Push Docker Image on Release

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    permissions:
      attestations: write
      id-token: write
      # Despite setting this permission, the workflow actions generated token encounters a 403 permissions error
      # when pushing images to ghcr.io registry. We are working around this by using a personal access token instead.
      # Additionally, the GitHub application generated token also does not work to access the ghcr.io registry despite
      # having these permissions explicitly granted to the repository.
      packages: write
      contents: write
    name: Build and Push Docker Image
    uses: ./.github/workflows/reusable-build-docker-image.yml
    secrets: inherit
    with:
      push_to_registry: true
