name: Build and Push Docker Image on Release

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    permissions:
      attestations: write
      id-token: write
      # Despite setting this permission, the workflow actions generated token encounters a 403 permissions error
      # when pushing images to ghcr.io registry. We are working around this by using a personal access token instead.
      # Additionally, the GitHub application generated token also does not work to access the ghcr.io registry despite
      # having these permissions explicitly granted to the repository.
      packages: write
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Show environment variables
        run: env

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ github.token }}

      - name: Setup private ssh key for linesearchopt
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.PRIVATE_DEPLOY_KEY }}

      - name: Setup metadata for docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          # specify the base image name but explicitly disable so we don't push to docker registry
          images: |
            name=${{ github.repository }},enable=false
            name=${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
          labels: |
            org.opencontainers.image.vendor=RL Core Technologies
            org.opencontainers.image.source=https://github.com/${{ github.repository }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          # username: ${{ github.actor }}
          # password: ${{ github.token }}
          username: ${{ vars.TEMP_ALEXW_GHCR_USERNAME }}
          password: ${{ secrets.TEMP_ALEXW_GHCR_PAT }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push Docker Image
        id: push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          ssh: default=${{ env.SSH_AUTH_SOCK }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: corerl

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true