name: Run Docker Build Image

on:
  workflow_call:
    inputs:
      push_to_registry:
        description: "If true, push the built docker image to registry"
        type: boolean
        default: false
      image_name:
        description: "Name of the Docker image to build"
        type: string
        required: true
      image_tags:
        description: "Tags for the Docker image"
        type: string
        required: true
      build_target:
        description: "Docker build target (stage)"
        type: string
        required: false
        default: corerl
      build_args:
        description: "Build arguments for Docker build"
        type: string
        required: false
        default: ""

env:
  REGISTRY: ghcr.io

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Show environment variables
        run: env

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ github.token }}

      - name: Setup metadata for docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{inputs.image_name}}
          tags: ${{ inputs.image_tags }}
          labels: |
            org.opencontainers.image.vendor=RL Core Technologies
            org.opencontainers.image.source=https://github.com/${{ github.repository }}

      - name: Log in to GitHub Container Registry
        if: ${{ inputs.push_to_registry }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ vars.TEMP_JASMINE_GHCR_USERNAME }}
          password: ${{ secrets.TEMP_JASMINE_GHCR_PAT }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set up SSH Agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.CORE_ENV_CI_DEPLOY_KEY }}

      - name: Build Docker Image
        id: build_push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ inputs.push_to_registry }}
          ssh: default=${{ env.SSH_AUTH_SOCK }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: ${{ inputs.build_target }}
          build-args: |
            ${{ inputs.build_args }}

      - name: Generate artifact attestation
        if: ${{ inputs.push_to_registry }}
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ github.repository }}
          subject-digest: ${{ steps.build_push.outputs.digest }}
          push-to-registry: ${{ inputs.push_to_registry }}
